{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recetas</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
            <br><br><br>
            <br><br><br>
            <br><br><br>
          
            <a class="btn btn-primary" href="{% url 'nueva_receta' %}" style="float: left; font-size: 14px;">Agregar Receta <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-primary" href="{% url 'listado_mangas' %}" style="float: right; font-size: 14px;">Editar Mangas <span class="glyphicon glyphicon-plus"></span></a>
    </body>
</html>

{% endblock %}
