{% extends 'base_generic.html' %}

{% block content %}
<br><br><br><br><br><br>

<div class="p-5">

    <div class="section-title">
        <h2>Administración</h2>
        <p>Modificar usuario</p>
    </div>

    <form  class="form" style="background-color:#cda45e" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            {{ form.as_table }}
        </table>

        <input type="reset" value="Limpiar">
        <input type="submit" value="Modificar">
    </form>
</div>

{% endblock %}