{% extends "base_generic.html" %}

{% block navbar %}
<nav class="nav-menu d-none d-lg-block">
  <ul>

    <li><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
    <li class="active"><a class="nav-link" href="{% url 'recetas' %}">Recetas</a></li>

    {% if user.is_authenticated %}
    {% if user.is_staff %}<li><a href="{% url 'admin' %}">Admin</a></li>{% else %}{% endif %}
    <li class="book-a-table text-center"><a href="#">{{ user.username }}</a></li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a></li>

    {% else %}
    <li class="book-a-table text-center"><a href="{% url 'login' %}">Iniciar Sesion</a></li>
    <li><a href="{% url 'registro_usuarios' %}">Registro</a></li>

    {% endif %}

  </ul>
</nav><!-- .nav-menu -->
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recetas</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="p-5">
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <div class="section-title">
                <h2>Recetas</h2>
                <p>Crear receta</p>
            </div>

            <a class="btn btn-primary" href="{% url 'nueva_receta' %}" style="float: left; font-size: 14px;">Agregar Receta <span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </body>
</html>

{% endblock %}
